.nav-bar {
  align-items: center;
  background-color: transparent;
  box-shadow: 0 0 14px rgb(0 0 0 / 15%) !important;
  font-family: "Poppins", sans-serif;
}
.nav-logo {
  height: 4em;
}

.nav-bar .nav-link {
  /* text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  color: #000; */
  text-decoration: none;
  text-transform: uppercase;
  color: #9a9a9a;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 2px;
  padding: 25px;
  display: inline-block;
  font-family: "Poppins", sans-serif;
}
